.remove{
    align-self: flex-end;
    padding-left: 30px;
    padding-right: 30px;
   position: relative;
   left: 100px;
   padding-top: 0;
   padding-bottom: 0;
}

.info{
    display: flex;
}
.empty{
    text-align: center;
    margin-top: 80%;
    color:red;
}

.emptyImg{
    width: 200px;
}