.sad{
    width: 200px;

    margin-left: 50%;
}

.bottom{
    color:white;
    text-align: center;
    font-size: 20px;
    margin-left: 20%;
}
.top{
color:white;
font-size:20px;
text-align: center;
margin-top: 20px;
margin-left: 15%;
}