.App{
    background-image: url('space.jpg');
    
}
.img{
    margin-left: 20%;
}
.error{
    color:red;
}

.paginate{
    background-image: url('./components/Cards/portal.jpg');
}
.color{
color:aliceblue;
}
